@import '@portfolio/client/src/styles/theme.module.scss';

.root {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
}

.rectangle {
  width: 50%;

  & img {
    height: 100%;
  }

  @media only screen and (max-width: $mobile-width) {
    width: 100%;

    & img {
      width: 100%;
    }
  }
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  padding: 2rem;
  padding-top: calc($header-height + 1rem);
  color: $text-color;
}

.title {
  font: $heading-font;
}

.sub {
  font: $small-heading-font;
}

.description {
  font: $text-font;
}
