@import '@portfolio/client/src/styles/theme.module.scss';

.rectangle {
    width: 50%;
    float: left;
    height: 100%;

    & img {
        height: 100%;
    }

    @media only screen and (max-width: $mobile-width) {
        width: 100%;
        float: none;
        height: auto;

        & img {
            width: 100%;
            height: auto;
        }
    }
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    padding: 2rem;
    padding-top: calc($header-height + 1rem);
    color: $text-color;
}

.title {
    font: $heading-font;
}

.sub {
    font: $small-heading-font;
}
.description {
    font: $text-font;
}