@import '@portfolio/client/src/styles/theme.module.scss';

.root {
    background-color: $inverted-background;
    color: $inverted-text-color;
    font: $text-font;
    display: grid;
    grid-template-rows: 1fr 1fr 1rem 1fr;
    grid-template-columns: repeat(3, min-content) auto;
    column-gap: 2rem;
    padding: 1rem 1rem 1rem 3rem;
}

.copyright {
    font: $tiny-font;
    grid-row-start: 4;
    grid-column-start: 1;
    grid-column-end: 4;
    align-self: center;
}