@import '@portfolio/client/src/styles/theme.module.scss';

.root {
    width: fit-content;
    display: inline-block;
}

.itemTitle {
    font: $small-heading-font;
    width: 0;
    min-width: 100%;
    text-align: center;
}

.itemDesc {
    font: $text-font;
    width: 0;
    min-width: 100%;
    text-align: center;
}

.img {
    max-width: 40vw;
}