@import '../../styles//colors.module.scss';

.root {}

.topMenu {
    display: flex;
    gap: 16px;
}

.content {
    background: yellow;
    padding: 8px;
}

.Link {
    display: block;

    &.active {
        background-color: var(--color-primary);
    }

    &:focus,
    &:hover {
        background-color: var(--color-primary-background);
    }
}