@import '@portfolio/client/src/styles/theme.module.scss';

.root {
    height: fit-content;
}

.topMenu {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.content {
    background-color: $background;
    padding-left: 0.7rem;
    padding-right: 0.7rem;

}

.Link {
    display: block;

    &.active,
    &:focus,
    &:hover {
        font-weight: 600;
    }

    padding-left: 0.7rem;
    padding-right: 0rem;

}

.sub {
    & .Link {
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 0.2rem;
        padding-bottom: 0.2rem;
    }
}

.contactLink {
    flex: 1;
    text-align: end;
}