@import '@portfolio/client/src/styles/theme.module.scss';

.root {}

.topMenu {
    display: flex;
    gap: 16px;
}

.content {
    background: $background;
    padding: 0.5rem;
}

.Link {
    display: block;
    padding: 0.2rem;
    &.active,
    &:focus,
    &:hover {
        font-weight: 600;
    }
}