@import '@portfolio/client/src/styles/theme.module.scss';

.root {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.rectangle {
    width: 50%;
    height: 70vh;

    & img {
        height: 100%;
    }

    &.text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
        font: $heading-font;
        text-align: center;
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

.gallery {
    flex: auto
}

.img {
    background: repeat padding-box border-box 0% / auto scroll linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, $white 100%), no-repeat padding-box border-box 50% / cover scroll url("https://static.wixstatic.com/media/d9657b20f1b9473f90815b9da211bb2a.jpg/v1/fit/w_924,h_520/d9657b20f1b9473f90815b9da211bb2a.jpg");
}

.logo {
    font: $logo-font;
    position: absolute;
    bottom: 1rem;
    width: 100%;
    text-align: center;
    font-size: 3rem;
}

.logoWrapper {
    width: 100%;
    position: relative;
}