@import '@portfolio/client/src/styles/theme.module.scss';

.root {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    height: $header-height;
    top: 0px;
    background-color: $background;
    font: $text-font;
    padding: 1rem;
}

.logo {
    font: $logo-font;
}

.leftContainer {
    display: flex;
    gap: 3rem;
    
}