@import '@portfolio/client/src/styles/theme.module.scss';

.root {

    & img {
        width: 100%;
    }

    .box {
        
        display: flex;
        flex-direction: row;
        align-content: center;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 0rem 1rem;
        font: $text-font;
        border-bottom: solid $black 1px;

        &:nth-child(3n){
            background-color: pink;
        }
        &:nth-child(3n + 1) {
            background-color: bisque;
        }
        &:nth-child(3n + 2){
            background-color: $grey300;
        }
    }
}