:root {
  --color-white: #fff;
  --color-black: #000;
  --color-primary: #ee82ee;
  --color-primary-background: #e6e6fa;
  --color-primary-hover: #720e9e;
  --color-primary-hover-background: #dda0dd;
}
