:root {
    --color-white:#fff;
    --color-black:#000;
    --color-primary: #EE82EE;
    --color-primary-background: #E6E6FA;
    --color-primary-hover: #720e9e;
    --color-primary-hover-background: #DDA0DD;
}